# Ignore everything in the tmux dir
/.tmux
# Except the tpm plugin
!/.tmux/plugins/tpm

# Ignore the bashrc files with private info
/.bashrc.d/*.private.bashrc

# Ignore company-specific Claude skills
/.claude/skills.private
